<ion-list>
  <ion-list-header>Ordenar Artículos</ion-list-header>
  <button ion-item (click)="close()">
    <ion-icon name="arrow-up" item-start></ion-icon>
      Ascendente
  </button>
  <button ion-item (click)="close()">
    <ion-icon name="arrow-down" item-start></ion-icon>
      Descendente
  </button>
  <button ion-item (click)="close()">
    <ion-icon name="funnel" item-start></ion-icon>
      Más vendidos
  </button>
  <button ion-item (click)="close()" class="hidden-sm hidden-md hidden-lg hidden-xl">
    <ion-icon name="barcode" item-start></ion-icon>
      Leer código de barras
  </button>
</ion-list>
