page-ventas {

    .grid-layout {
        height: 100%;
        width: 100%;
        padding: 0px;
        margin: 0px;
        border: 0px;
    }
    
    .row-layout {
        height: 100%;
    }
    
    .col-articulo {
        max-width: 124px;
        max-height: 124px;
        border: 0px;
        padding: 0px;
    }
    
    .card-articulo {
        height: 110px;
        width: 110px;
        margin: 7px;
        background-color: rgb(66, 66, 66); //gray
    }
    
    .card-content-articulo {
        padding: 2px;
        margin-top: -1px;
        color: white;

        p {
            color: white;
            margin-top: -2px;
            margin-left: 2px;
        }
    }

    .card-img {
        height: 70px; //60
        width: 120px; //100
    }

    .item-footer {
        padding: 0px;
        border: 0px;
        margin: 0px;
    }

    .button-footer {
        padding: 0px;
        border: 0px;
        margin: 0px;
        float: none;
        box-shadow: 0 0 0;
    }
      
    .item-nombre {
        font-weight: bold;
    }

    .toolbar-title {
        .subtitle {
            font-size: 60%;
            margin: 0;
        }
    }

    .shadow-left {
        float: left;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }

    .div-segments {
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    .text-calculadora {
        font-size: 7.0vw;
        height: 100%;
    }

    .div-calculadora {
        height: 100%;
        margin: 0px;
    }

    .grid-calculadora {
        height: 100%;
        padding: 0px;
        margin: 0px;
        border: 0px;
        //background-color: lightgray; 
        background-color: rgb(94, 146, 243);

        ion-row {
            height: 100%;
            padding: 0px;

            ion-col {
                height: 100%;
                padding: 0.5px;

                button {
                    margin: 0px;
                    border-radius: 0px;
                    height: 100%;
                    font-size: 28px;
                    color: rgb(255, 255, 255);
                    //background-color: grey;
                    background-color: rgb(21, 101, 192);
                }
            }
        }
    }
    
    $breakpoints-keys: map-keys($screen-breakpoints);
    $breakpoints-values: map-values($screen-breakpoints);
    @for $i from 1 to length($breakpoints-keys)+1 {
        @if $i < length($breakpoints-keys) {
            .hidden-#{nth($breakpoints-keys, $i)} {
                @media (min-width: nth($breakpoints-values, $i)) and (max-width: #{nth($breakpoints-values, $i+1)}) {
                    display: none;
                }
            }
        } @else {
            .hidden-#{nth($breakpoints-keys, $i)} {
                @media (min-width: nth($breakpoints-values, $i)) {
                    display: none;
                }
            }
        }
    }
}


