<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Artículos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngIf="articulos.length == 0"> 
      No se encuentran artículos cargados
    </ion-item>
    <ion-item-sliding *ngFor="let articulo of articulos; let i = index">
      <button ion-item (click)="editArticulo(articulo)">
        <ion-avatar item-start>
          <img *ngIf="articulo.src != null && articulo.src != ''" src="{{articulo.src}}" class="card-img"/>
          <img *ngIf="articulo.src == null || articulo.src == ''" src="../../../../assets/imgs/no_imagen.png" class="card-img"/>
        </ion-avatar>
        <h3>{{articulo.nombre}}</h3>
        <p>{{("00000000"+articulo.codigo).slice(-8)}}</p>
        <p item-right text-right>$ {{articulo.precio|number:'1.2-2'}}</p>
      </button>
      <ion-item-options side="right">
        <button ion-button icon-only color="danger" (click)="deletArticulo(articulo, i)">
            <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab mini color="secondary" (click)="addArticulo()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
